*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

h3 {
  text-decoration: underline;
  font-size: clamp(1rem, 2vw, 2rem);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.settings {
  position: fixed;
  width: 40vw;
  height: 100vh;
  z-index: 99;
  transform: translateX(180%);
  transition: transform 0.5s ease;
  background-color: #4c4c4c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -5px 0 10px rgb(119, 119, 119);
}

.settings.opened {
  transform: translateX(75%);
}

.close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: clamp(1rem, 2vw, 2rem);
  cursor: pointer;
}

.settings .scale-settings {
  display: flex;
  gap: 20px;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

nav ul li {
  list-style-type: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.game {
  margin-bottom: 80px;
  font-size: clamp(1.2rem, 3vw, 4rem);
  text-align: center;
  opacity: 0;
  user-select: none;
}

.fretboard {
  background: #fff;
  width: 90vw;
  height: 20vw;
  border-radius: 20px;
  position: relative;
  user-select: none;
  /* top: -40px; */
  overflow: hidden;
}

.fretboard img {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  border-radius: 20px;
}

.note-to-find {
  text-decoration: underline;
  color: greenyellow;
}

.fretboard .string {
  position: absolute;
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.six {
  bottom: 29%;
  transform: rotate(1deg);
}

.five {
  bottom: 39%;
  transform: rotate(0.7deg);
}

.four {
  bottom: 48%;
  transform: rotate(0.25deg);
}

.three {
  bottom: 58%;
}

.two {
  top: 31%;
  transform: rotate(-0.4deg);
}

.one {
  top: 21%;
  transform: rotate(-0.75deg);
}

.fretboard-container {
  width: fit-content;
  height: fit-content;
}

.fretboard .note {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  width: clamp(20px, 3vw, 50px);
  height: clamp(20px, 3vw, 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  opacity: 0;
  color: #fff;
  cursor: pointer;
}

.fretboard .note.reveal {
  opacity: 1;
  width: 30px;
  height: 30px;
  cursor: default;
}

.fret-0 {
  left: 0;
}

.fret-1 {
  left: 7%;
}
.fret-2 {
  left: 14%;
}
.fret-3 {
  left: 20.3%;
}
.fret-4 {
  left: 26.5%;
}
.fret-5 {
  left: 32.6%;
}
.fret-6 {
  left: 37.9%;
}
.fret-7 {
  left: 43%;
}
.fret-8 {
  left: 48%;
}
.fret-9 {
  left: 52.5%;
}
.fret-10 {
  left: 57%;
}
.fret-11 {
  left: 61%;
}
.fret-12 {
  left: 64.8%;
}
.fret-13 {
  left: 68.4%;
}
.fret-14 {
  left: 71.7%;
}
.fret-15 {
  left: 75%;
}
.fret-16 {
  left: 78%;
}
.fret-17 {
  left: 81%;
}
.fret-18 {
  left: 83.5%;
}
.fret-19 {
  left: 86%;
}
.fret-20 {
  left: 88.5%;
}
.fret-21 {
  left: 90.8%;
}
.fret-22 {
  left: 93%;
}

.result {
  height: 3rem;
  margin-bottom: 50px;
}
.result-text {
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 3rem);
  text-align: center;
}

.replay {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 2rem);
  text-transform: uppercase;
  opacity: 0;
}

footer ul {
  margin-top: 2rem;
  display: flex;
  gap: 20px;
}

footer ul li {
  color: #fff;
  list-style-type: none;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .settings {
    width: 100%;
    height: 15vh;
    z-index: 99;
    transform: translateX(2%) translateY(-110%);
    box-shadow: 0 5px 10px rgb(119, 119, 119);
  }

  .settings .scale-settings {
    margin-top: 0.5rem;
  }

  .settings.opened {
    transform: translateX(2%) translateY(0);
  }
  nav {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
  }
  nav ul {
    margin-right: 2rem;
    width: fit-content;
  }

  .fretboard-container {
    width: 100%;
    height: 100vh;
  }

  .fretboard .note.reveal {
    transform: scale(0.5) rotate(-90deg) translateY(-50%);
    transform-origin: center;
  }

  .fretboard {
    transform: rotate(90deg) scale(3.5);
    transform-origin: left;
    margin-left: 50%;
  }
  .note {
    transform: scale(0.5) translateY(5%);
  }

  main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .game {
    margin: 0;
  }
  .result {
    margin: 0;
  }

  .replay {
    position: absolute;
    top: -25px;
    left: 5px;
  }
  button {
    padding: 0.5rem;
  }

  footer {
    margin-top: 1100px;
    width: 100%;
  }
  footer ul {
    justify-content: center;
    margin: 0;
  }
  /* corriger footer  */
}
